:root[data-theme="light"] {
    --text: #151b1e;
    --background: #edf0f2;
    --primary: #3a4750;
    --secondary: #bda3a9;
    --accent: #94806b;
}
:root[data-theme="dark"] {
    --text: #e1e7ea;
    --background: #0d1012;
    --primary: #afbcc5;
    --secondary: #5c4248;
    --accent: #94806b;
}

body {
    color: var(--text);
    background: var(--background);
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "header header"
    "side-bar main-content"
    "side-bar main-content";
}

#header {
    grid-area: header;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
}

#side-bar {
    grid-area: side-bar;
    box-shadow: 5px 0 15px 0px rgba(0, 0, 0, 0.1);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#side-bar .project {
    inline-size: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    padding: 0;
    line-height: 0em;
    user-select: none;
}

#side-bar .project:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#side-bar .project:active {
    transform: scale(1);
    cursor: pointer;
}

#main-content {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}