:root[data-theme="light"] {
    --text: #151b1e;
    --text-inverse: #e1e7ea;
    --background: #edf0f2;
    --primary: #3a4750;
    --secondary: #bda3a9;
    --accent: #94806b;
}
:root[data-theme="dark"] {
    --text: #e1e7ea;
    --text-inverse: #151b1e;
    --background: #0d1012;
    --primary: #afbcc5;
    --secondary: #5c4248;
    --accent: #94806b;
}

button {
    inline-size: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    user-select: none;    
    background-color: var(--primary);
    color: var(--text-inverse);
    border-style: none;
    padding-inline: 1.5em;
    padding-block: 1em;
    border-radius: 1em;
    text-align: left;
    transition: transform 0.4s;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button.form {
    width: 10em;
    text-align: center;
    align-self: center;
}

button.add {
    margin-top: 1.5em;
    width: 5em;
    text-align: center;
    align-self: center;
}

label {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    gap: 2em;
}

input {
    width: 10em;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

dialog {
    border-style: none;
    align-self: center;
    justify-self: center;
    background-color: var(--background);
}

dialog::backdrop {
    background-color: black;
    opacity: 0.25;
}

dialog[open] {
    animation: show-dialog 0.5s ease-out;
}

dialog[open]::backdrop {
    animation: show-backdrop 0.5s ease-out;
}

@keyframes show-backdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.25;
    }
}

@keyframes show-dialog {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    color: var(--text);
    background: var(--background);
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "header header"
    "side-bar main-content"
    "side-bar main-content";
}

#header {
    grid-area: header;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
}

#side-bar {
    grid-area: side-bar;
    box-shadow: 5px 0 15px 0px rgba(0, 0, 0, 0.1);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#main-content {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    padding-top: 5%;
    gap: 1em;
}

.todo-background {
    background-color: var(--secondary);
    height: 50px;
    width: 50px;
}