body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "header header"
    "side-bar main-content"
    "side-bar main-content";
}

#header {
    background-color: blue;
    grid-area: header;
}

#side-bar {
    background-color: aquamarine;
    grid-area: side-bar;
}

#main-content {
    background-color: burlywood;
    grid-area: main-content;
}